.title {
  color: white;
  font-family: var(--theme-font-family);
  font-weight: bold;
  font-size: 36px;
  flex-grow: 1;
}

.user {
  color: white;
  font-family: var(--theme-font-family);
  font-size: 14px;
  font-weight: bold;
}
