.button {
  background-color: var(--theme-color-gold);
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  font-family: var(--theme-font-family);
  font-size: 18px;
  padding: 10px 15px 10px 15px;
  margin-top: 20px;
}

.button:hover {
  background-color: var(--theme-color-gold);
  opacity: 0.8;
  cursor: pointer;
}