.container {
  background-color: var(--theme-color-off-white);
  border-radius: 6px;
  box-shadow: 0px 12px 0px 8px var(--theme-color-dark-gray);
  border-style: solid;
  border-color: var(--theme-color-neutral-gray);
  font-family: var(--theme-font-family);
  font-size: 14px;
  color: var(--theme-color-dark-gray);
  padding: 10px 15px 10px 15px;
  margin: 30px 0px 45px 0px;
}
